.toolbar {
	background: #FFF;
	border-bottom: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 60px;
	margin-bottom: 0px;
	padding-top: 0px;
	float:left;
	width:100%;
}
.toolbar li 
{
    float:left;
	
	padding-top: 0px;
	
	width:24.5%;
}

.toolbar li a
{
    display:block;
    width:100%;
    text-align:center;
    padding-top:4px;
    padding-bottom:4px;
}

.toolbar li a div
{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.toolbar li:nth-child(n+2) {
	border-left: 1px solid #E9EBED;
}
.toolbar li .ico {
		background: url(/images/h5/global.png?v=2015121801);
	background-size: 29px auto;
	display: block;
	height: 29px;
	margin: 0 auto 5px;
	width: 29px;
	background-position: 0 -58px;
}
.toolbar .my .logon 
{
	background-position: 0 -26px;
}

.toolbar .my .ico 
{
	background-position: 0 -320px;
}

.toolbar .appointment .ico {
	background-position: 0 -352px;
}

.toolbar .foreignteacher .ico {
	background-position: 0 -382px;
}

.toolbar .nearby .ico {
	background-position: 0 -261px;
}

.toolbar .favorite .ico {
	background-position: 0 -51px;
}



.toolbar .history .ico {
	background-position: 0 -77px;
}
.toolbar .download .ico {
	background-position: 0 -104px;
}
.toolbar a {
	color: #798390;
	display: block;
	font-size: 12px;
}

.statblock div a
{
    height:100%;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
}


.leftcolumn {
	border-right: 1px dashed #F2F2F2;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
}
.index_nav_dl td .right {
	font-size: 0;
	padding: 4px 0 4px 5px;
}
.index_nav_dl a {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	color: #999;
	display: block;
}
.index_nav_dl .ico {
	background: url(/images/h5/global.png?v=2015121801);
	background-size: 29px auto;
	display: block;
	height: 29px;
	margin: 0 auto 5px;
	width: 29px;
	background-position: 0 -58px;
}
.index_nav_dl .subjectcategory2 .ico {
	background-position: 0 -87px;
}

.index_nav_dl .subjectcategory3 .ico {
	background-position: 0 -116px;
}

.index_nav_dl .subjectcategory7 .ico {
	background-position: 0 -145px;
}


.index_nav_dl .subjectcategory9 .ico {
	background-position: 0 -174px;
}


.index_nav_dl .university .ico {
	background-position: 0 -203px;
}

.index_nav_dl .location .ico {
	background-position: 0 -261px;
}

.index_nav_dl .hotsubject .ico {
	background-position: 0 -290px;
}



.index_nav_dl td a {
	color: #374565;
	display: inline-block;
	font-size: 16px;
	padding: 8px 7px;
}
.index_nav_dl .spec {
	color: #157DFB;
	padding: 8px 5px;
}
.index_nav_dl .line {
	display: block;
	border-top: 1px dashed #ECECEC;
	height: 0;
}

span.ico_clear{ display:none }
span.ico_show{ display:block }



.currtab
{
	border-bottom:1px solid green;
	color:green;
}


.nav_tab {
	background: #FFF;
	border-bottom: 1px solid #E3E3E3;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 40px;
	margin-bottom: 5px;
	float:left;
	width:100%;
}
.nav_tab li {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.nav_tab li:nth-child(n+2) {
	border-left: 1px solid #E9EBED;
}


.listunitonlya
{
    border:0px #e5e5e5 solid;
    margin-bottom:4px;
    padding:0px;
    /*background-color:#fff;*/
}

.listunitonlya a{
    display:block;
    padding:10px;
    -webkit-border-radius:0;overflow:hidden;
}