.common_icon_appointmentlisttoseller {
	background-position:  0 0 !important;
}

.common_icon_favorite{
	background-position:  0 -32px !important;
}

.common_icon_show{
	background-position:  0 -64px !important;
}

.common_icon_makeorder{
	background-position:  0 -1120px !important;
}

.common_icon_login{
	background-position:  0 -160px !important;
}

.common_icon_register{
	background-position:  0 -192px !important;
}

.common_icon_getpassword{
	background-position:  0 -224px !important;
}

.common_icon_publisharticle0{
	background-position:  0 -256px !important;
}

.common_icon_faqcategory{
	background-position:  0 -288px !important;
}

.common_icon_faqlist{
	background-position:  0 -320px !important;
}

.common_icon_faqadd{
	background-position:  0 -352px !important;
}

.common_icon_seo{
	background-position:  0 -736px !important;
}

.common_icon_notification{
	background-position:  0 -768px !important;
}

.common_icon_push_setting{
	background-position:  0 -800px !important;
}


.common_icon_agent_setting{
	background-position:  0 -384px !important;
}

.common_icon_score{
	background-position:  0 -544px !important;
}

.common_icon_invitelist{
	background-position:  0 -992px !important;
}

.common_icon_invite{
	background-position:  0 -896px !important;
}

.common_icon_feedback{
	background-position:  0 -1056px !important;
}

.common_icon_push_voucher{
	background-position:  0 -864px !important;
}

.common_icon_articlelist{
	background-position:  0 -1024px !important;
}

.common_icon_publisharticle{
	background-position:  0 -480px !important;
}

.common_icon_tobereviewed{
	background-position:  0 -448px !important;
}

.common_icon_tobeauthed{
	background-position:  0 -416px !important;
}

.common_icon_appointmentlisttostudent{
	background-position:  0 -1088px !important;
}

.common_icon_teacherlist{
	background-position:  0 -640px !important;
}

.common_icon_orderlist{
	background-position:  0 -960px !important;
}

.common_icon_matchlist{
	background-position:  0 -1152px !important;
}

.common_icon_parentlist{
	background-position:  0 -576px !important;
}

.common_icon_modifyresume{
	background-position:  0 -608px !important;
}

.common_icon_previewresume{
	background-position:  0 -672px !important;
}

.common_icon_orderlisttome{
	background-position:  0 -704px !important;
}

.common_icon_orderbyme{
	background-position:  0 -928px !important;
}

.common_icon_appointmentlisttome{
	background-position:  0 -832px !important;
}


.common_icon_tutorhistory{
	background-position:  0 -512px !important;
}

.common_icon_recharge{
	background-position:  0 -1184px !important;
}

.common_icon_modifypassword{
	background-position:  0 -1216px !important;
}

.common_icon_logout{
	background-position:  0 -1248px !important;
}

.common_icon_nearbyteacher{
	background-position:  0 -1312px !important;
}

.common_icon_setting{
	background-position:  0 -1280px !important;
}

.common_icon_stat{
	background-position:  0 -1344px !important;
}

.common_icon_team{
	background-position:  0 -1376px !important;
}

.common_icon_incomingcall{
	background-position:  0 -1408px !important;
}