@charset "utf-8";
.dl_nav{width:100%;height:32px;font-size:14px;line-height:30px;background:-webkit-gradient(linear,0% 0,0% 100%,from(#fcfcfc),to(#edeff1));color:#7c7c7c;text-indent:5px;border-bottom:1px solid #d8d9da;border-top:1px solid #d8d9da;float:left;}
.dl_nav span{height:30px;border-top:1px solid #FFF;border-bottom:1px solid #f5f6f7;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.dl_nav span font{width:7px;height:13px;background-position:-45px -61px;display:inline-block;}
.dl_nav a{padding:5px 5px 3px 5px;}
.log_reg_box{width:100%;min-width:320px;background:#fbfdfe;float:left;}
.log_reg_box ul.tab{width:100%;}
.log_reg_box ul.tab li{width:50%;height:41px;text-align:center;line-height:40px;font-size:14px;color:#3e3e3e;float:left;background:-webkit-gradient(linear,0% 0,0% 100%,from(#f7fafc),to(#fbfdfe));}
.log_reg_box ul.tab li.curr span{border-left:1px solid #fbfdfe;border-right:1px solid #fbfdfe;display:block;color:#f97d03;}
.log_reg_box ul.tab li.curr span font{border:1px solid #fcfcfd;display:block;}
.log_reg_box ul.tab li.currl span{background:#F2F5F7;border-right:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;-webkit-box-shadow:0 1px 1px #E9EBEC;color:#3e3e3e;}
.log_reg_box ul.tab li.currr span{background:#F2F5F7;border-left:1px solid #d3d3d3;border-right:none;border-bottom:1px solid #d3d3d3;-webkit-box-shadow:0 1px 1px #E9EBEC;color:#3e3e3e;}
#logRegTabCon{padding:0 10px 0;}
.login_intxt{border:1px solid #c0c1c2;height:42px;}
.login_intxtt{width:65px;font-size:15px;line-height:42px;padding-left:12px;color:#3e3e3e;float:left;}
.login_intxt input{width:200px;height:14px;line-height:14px;font-size:12px;color:#b6b6b6;border:none;outline:none;margin-top:14px;background:#fbfdfe;float:left;}.login_ertxt{width:100%;height:23px;display:block;font-size:11px;line-height:23px;color:#e00303;}
.login_ffle i{width:19px;height:16px;background-position:-55px -58px;display:block;float:left;}
.login_ffle i.nx_checked{background-position:-74px -58px;}
.log_reg_item{width:100%;padding-top:6px;float:left;}
.passport-login-input-ul{width:100%;}
.passport-login-input-ul li{border:1px solid #c0c1c2;height:42px;margin-top:10px;}
ul.passport-login-input-ul li:nth-child(1){width:100%;height:24px;border:1px solid #e86f6f;background:#f1cece;color:#e4133a;line-height:24px;font-size:12px;text-indent:12px;}
ul.passport-login-input-ul li:nth-child(2) input{background:#FBFDFE;}
ul.passport-login-input-ul li:nth-child(3) input{background:#FBFDFE;}
#rememberLi,#mobileLoginButtonLi,#loginButtonLi{border:none;height:auto;margin:0;}
#mobilevalidateli input{background:#FBFDFE;}
.passport-login-input-span{width:70px;font-size:15px;line-height:42px;padding-left:12px;color:#3e3e3e;float:left;}
.passport-login-input{width:180px;height:40px;vertical-align:middle;font-size:12px;color:#b6b6b6;border:none;outline:none;background:#fbfdfe;position:relative;top:3px;}
#pptvalidatecode{width:85px;height:14px;line-height:14px;font-size:12px;color:#b6b6b6;border:none;outline:none;margin-top:14px;background:#fbfdfe;float:left;}
#pptvcodeImg{padding-top:5px;padding-right:6px;float:right;}
.login_ffle{font-size:14px;color:#7c7c7c;padding:15px 0 15px 10px;float:left;}
.btn_log{width:100%;height:42px;background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#abd3e0),color-stop(1,#abd3e0));line-height:42px;color:#fffefe;text-align:center;overflow:hidden;border:none;-webkit-border-radius:0;}
.login_ff{padding:0 5px;}
.login_ffmain{padding:15px 0 20px;width:100%;float:left;}
a.login_ffri{padding:5px 5px 3px 5px;display:block;float:left;color:#50b4d7;}
a.login_ffleft{padding:5px 5px 3px 5px;display:block;float:right;color:#50b4d7;}
#loginTip,#mobileLoginTip{color:red;}
#validateli a{display:none;}
.f12{display:none;}
#passwd_div{padding:0 10px 0;}
.pwd_bt{width:100%;font-size:13px;color:#585858;padding:15px 0 5px;}
ul.pwd_three{width:100%;}
ul.pwd_three li i{width:13px;height:14px;background-position:0 -75px;margin-top:15px;display:block;float:left;}
.pwd_tdiv{margin-left:0px;border:1px solid #C0C1C2;height:42px;margin-top:10px;overflow:hidden;}
ul.pwd_three li i.icon_no{background-position:-13px -75px;}
.yzm_div{border:1px solid #C0C1C2;height:42px;margin-top:10px;}
.yzm_div input{width:100px;height:14px;line-height:14px;font-size:12px;color:#B6B6B6;border:none;outline:none;margin-top:14px;background:#FBFDFE;float:left;}
.yzm_div img{padding-top:5px;height:32px;padding-right:6px;float:right;}
.submit_but{padding:15px 0;}
.sub_err_txt{width:100%;height:24px;border:1px solid #E86F6F;background:#F1CECE;color:#E4133A;line-height:24px;font-size:12px;text-indent:12px;margin-bottom:10px;margin-top:10px;}
.pwd_zhc{border:1px solid #C0C1C2;height:42px;margin-top:10px;}
.pwd-input-lspan{width:85px;font-size:15px;line-height:42px;padding-left:12px;color:#3e3e3e;float:left;}
.double_yz{padding:15px 0 30px 0;font-size:13px;line-height:42px;color:#585858;}
.dou_yzm{width:135px;height:40px;border:1px solid #d5d7d8;background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#f9f9f9),color-stop(1,#f9f9f9));line-height:40px;font-size:14px;color:#3e3e3e;float:right;-webkit-border-radius:0;}
.dou_time{background:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#f2f6f8),color-stop(1,#f2f6f8));}
.pwd_success{padding:80px 0 140px;line-height:24px;text-align:center;}
.pwd_success span{font-size:13px;color:#7c7c7c;}
.pwd_success span:first-child{font-size:16px;color:#3e3e3e;}
.pwd_success span a{color:#50b4d7;text-decoration:none;}
.pwd_true{padding-top:80px;line-height:20px;text-align:center;}
.pwd_true span{font-size:11px;color:#858586;}
.pwd_true span:first-child{font-size:16px;color:#3e3e3e;}
.pwd_url{width:100%;text-align:center;padding:25px 0 60px;}
.pwd_url a{color:#50b4d7;text-decoration:none;padding:5px 5px 3px 5px;display:inline-block;}
#phonearea ul li.sub_err_txt{margin-top:10px;}
#accountarea ul li.sub_err_txt{margin-top:10px;}

 .resultfail
{
    display:block ;
	height:24px;
	border:1px solid #E86F6F;
	background:#F1CECE;
	color:red;
	line-height:24px;
	font-size:12px;
	text-indent:12px;
}
        
.resultsuccess
{
    display:block ;
	height:24px;
	border:1px solid green;
	background:#fff;
	color:#000;
	line-height:24px;
	font-size:12px;
	text-indent:12px;
}