
.stamp * {
	padding: 0;
	margin: 0;
	list-style:none;
	font-family:"Microsoft YaHei", 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}
.stamp {
    text-align:left;
    color:#fff;
	width: 90%;
	height: 100%;
	padding: 16px 15px;
	
	position: relative;
	overflow: hidden;
}
.stamp:before {
	content: '';
	position: absolute;
	top:0;
	bottom:0;
	left:10px;
	right:10px;
	z-index: -1;
}

.stamp .facevalue {
	font-size: 50px;
	color:#fff;
	margin-right: 5px;
	line-height: 65px;
}

.stamp .voucher{
	position: relative;
	
	color:rgba(255, 255, 255, .8);
}

.stamp i {
	position: absolute;
	left: 30%;
	top: 60%;
	height: 50%;
	width: 80%;
	background-color: rgba(255, 255, 255, .15);
	transform: rotate(-30deg);
}
.stamp .par {
	float: left;
	padding: 16px 15px;
	
	
	text-align: left;
}
.stamp .par p {
	color:#fff;
	font-size: 16px;
	line-height: 21px;
}
.stamp .par span {
	font-size: 50px;
	color:#fff;
	margin-right: 5px;
	line-height: 65px;
}
.stamp .par .sign {
	font-size: 34px;
}
.stamp .par sub {
	position: relative;
	top:-5px;
	color:rgba(255, 255, 255, .8);
}
.stamp .copy {
	display: inline-block;
	padding:21px 14px;
	width:100px;
	vertical-align: text-bottom;
	font-size: 30px;
	color:rgb(255,255,255);
	text-align: center;
	line-height: initial;
}
.stamp .copy p {
	font-size: 16px;
	margin-top: 15px;
}
.stamp03 {
	background: radial-gradient(transparent 0, transparent 5px, #7EAB1E 5px);
	background-size: 15px 15px;
	background-position: 9px 3px;

    margin: 30px auto 0px auto;
}
.stamp03:before {
	background-color:#7EAB1E;
}
.stamp03 .copy {
	padding: 10px 6px 10px 12px;
	font-size: 24px;
}
.stamp03 .copy p {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 8px;
}
.stamp03 .copy a {
	background-color:#fff;
	color:#333;
	font-size: 14px;
	text-decoration:none;
	padding:5px 10px;
	border-radius:3px;
	display: block;
}